html, body{
  margin: 0;
  padding: 0;
}

h1, p{
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#main{
  background: black;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

#loginbutton{
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 28px;
  font-size: 19px;
  font-family: 'Bungee Shade', cursive;
  color: red;
}

#contents{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
  text-align: center;
}

#contents h1{
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
  margin-bottom: 16px;
}

#contents p{
  font-size: 23px;
  margin-bottom: 16px;
}

#contents a{
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.5s;
}

#contents a:hover{
  background-color: red;
}

#box {
  border: 1px solid red;
  width: 500px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  text-align: center;
  border: none;
}

#box input[type=text]{
  background-color: #fff;
  width: 340px;
  padding: 10px;
  /* border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
  border-radius: 25px 0 0 25px;
}

#box input[type=submit]{
  width: 100px;
  background-color: red;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  color: #fff;
  margin-left: -5px;
}

@media(max-width:769px){

  #contents h1{
    font-size: 50px;
  }

  #contents p{
    font-size: 20px;
  }

  #contents a{
    font-size: 14px;
  }
}
